<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Quiz Maker</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" /> -->
    <link rel="stylesheet" type="text/css" href="./finalstyle.css" />
  </head>

  <body style="text-align: center; background: #ced4da">
    <div class="page-border border-left"></div>
    <div class="page-border border-right"></div>
    <div class="page-border border-top"></div>
    <div class="page-border border-bottom"></div>
    <input type="hidden" id="myid" value="hi" />

    <form id="form" name="form">
      <div class="container" id="dynamicInput" style="margin-bottom: 16px">
        <h3 style="padding-top: 0px; margin-bottom: 20px">Quiz Maker</h3>

        <div class="wrapper">
          <input
            class="input"
            id="title"
            name="title"
            placeholder="Untitled Quiz*"
            type="text"
            required
          />
          <span class="underline"></span>
        </div>
        <div class="wrapper">
          <input
            class="input"
            id="desc"
            placeholder="Description (optional)"
            type="text"
            style="font-size: 12px"
          />
          <span class="underline"></span>
        </div>

        <div class="card" name="qset1">
          <div class="card-body">
            <div class="wrapper">
              <input
                class="input"
                id="q1"
                placeholder="Untitled Question*"
                type="text"
                style="font-size: 18px"
                required
              />
              <span class="underline"></span>
            </div>
            <label class="input-container" style="width: 100%">
              <i class="fa fa-circle-o icon"></i>
              <input
                type="text"
                id="q1opt1"
                class="form-control"
                placeholder="Option 1"
                required
              />
            </label>
            <label class="input-container" style="width: 100%">
              <i class="fa fa-circle-o icon"></i>
              <input
                type="text"
                id="q1opt2"
                class="form-control"
                placeholder="Option 2"
                required
              />
            </label>
            <label class="input-container" style="width: 100%">
              <i class="fa fa-circle-o icon"></i>
              <input
                type="text"
                id="q1opt3"
                class="form-control"
                placeholder="Option 3"
                required
              />
            </label>
            <label class="input-container" style="width: 100%">
              <i class="fa fa-circle-o icon"></i>
              <input
                type="text"
                id="q1opt4"
                class="form-control"
                placeholder="Option 4"
                required
              />
            </label>
            <label class="input-container" style="width: 100%">
              <i class="fa fa-check-circle icon"></i>
              <input
                type="text"
                id="q1ans"
                class="form-control"
                placeholder="Answer"
                required
              />
            </label>
          </div>
          <div class="card-footer" align="right">
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Add question"
              id="addCard"
              onclick="return addInput();"
              ><i class="fa fa-plus-circle fa-2x"></i>
            </a>

            <span
              data-toggle="tooltip"
              data-placement="bottom"
              title="Delete question"
              ><i class="fa fa-trash fa-2x"></i
            ></span>
          </div>
        </div>
      </div>

      <button
        name="submit_btn"
        value="primary"
        type="submit"
        class="btn-get-started"
      >
        DONE
      </button>
    </form>
  </body>
</html>
